.page-header
  %h1
    HipCheck&trade;


%p
  When it comes to

  = succeed ',' do
    %b.hip-check-topic<>
      = hip_check.topic

  %b.hip-check-user
    = link_to "~#{hip_check.user.handle}", user_path(hip_check.user.handle)
  was

  - if hip_check.hipness < 1
    %b.hip-check-hipness
      = "#{100 - (100 * hip_check.hipness).round}% less hip"
    than
  - elsif hip_check.hipness == 1
    %b.hip-check-hipness
      as hip
    as
  - elsif hip_check.hipness > 1
    %b.hip-check-hipness
      = "#{(100 * hip_check.hipness).round - 100}% more hip"
    than

  the average thinker at

  = succeed '.' do
    %b.hip-check-time<>
      = hip_check.time