- if current_user && current_user != user
  - follow = current_user.follows_as_follower.detect { |follow| follow.followee == user } || current_user.follows_as_follower.new(followee: user)
  .follow-button{id: "follow-button:#{follow.followee_id}"}
    - if follow.new_record?
      = form_for follow, authenticity_token: true, remote: true do |f|
        = f.hidden_field :followee_id
        = f.submit 'Follow', class: 'btn btn-default btn-xs'
    - else
      = form_for follow, method: :delete, authenticity_token: true, remote: true do |f|
        = f.submit 'Unfollow', class: 'btn btn-default btn-xs'
